@import "../../../styles/variables.scss";

.posts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: $media-sm) {
        justify-content: center;
    }
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}