.blog-types__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    overflow: hidden;
}
.filter__wrapper {
    position: relative;
    padding: 15px 0 5px;
    bottom: -17px;
    width: 100%;
    max-width: 80%;
    overflow-x: auto;
}

.filter__content {
    display: flex;
}
.filter__content-item{
    margin-right: 5px;
}

.filter-btn.active {
    background: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
}


.filter-btn.active:before {
    position: absolute;
    top: -12px;
    left: calc(50% - 10px);
    display: block;
    content: '';
    border: 10px solid transparent;
    border-top: 10px solid red;
}


.filter-btn {
    position: relative;
    align-self: flex-end;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.filter-btn:hover {
    transform: scaleY(1.25);
}

.filter-btn--all {
    margin-bottom: 5px;
    background: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
}

.filter-btn--all.active:before {
    position: absolute;
    top: -12px;
    left: calc(50% - 10px);
    display: block;
    content: '';
    border: 10px solid transparent;
    border-top: 10px solid red;
}