body {
    padding: 0;
    margin: 0;
    color:rgba(255, 255, 255, 0.6);
    background-color: #18181B;
}
header,
div,
body {
    box-sizing: border-box;
}


ul {
    padding: 0;
    margin: 0;
}


.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.main {
    min-height: 50vh;
}

.hidden {
    display: none;
}

.btn {
    display: flex;
    justify-content: center;
    padding: 15px 30px;
    background: transparent;
    color:rgba(255, 255, 255, 0.6);
    font-size: 16px;
    border: 1px solid;
    border-image: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%) 1;
}


.page-title {
    display: inline-flex;
    justify-content: center;
    margin: 46px auto 40px;
    font-size: 22px;
    color: transparent;
    background: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.image-fluid {
    display: flex;
    width: 100%;
    height: auto;
}


[data-type-name="normal"] {
    background-color: orange;
}

[data-type-name="fire"] {
    background-color: red;
}
[data-type-name="water"] {
    background-color: blue;
}

[data-type-name="grass"] {
    background-color: green;
}

[data-type-name="poison"] {
    background-color: violet;
}

[data-type-name="flying"] {
    background-color: skyblue;
}

[data-type-name="bug"] {
   background-color: brown; 
}

[data-type-name="ice"] {
    background-color: #6cf; 
}

[data-type-name="electric"] {
    background-color: #fc3; 
}

[data-type-name="fighting"] {
    background-color: #d11554; 
}

[data-type-name="ground"] {
    background-color: #b54; 
}

[data-type-name="psychic"] {
    background-color: #f59; 
}

[data-type-name="rock"] {
    background-color: #ba6; 
}

[data-type-name="ghost"] {
    background-color: #66b; 
}

[data-type-name="dragon"] {
    background-color: #7d3bb7; 
}

[data-type-name="dark"] {
    background-color: #754; 
}

[data-type-name="steel"] {
    background-color: #aab; 
}

[data-type-name="fairy"] {
    background-color: #e9e; 
}

[data-type-name="shadow"] {
    background-color: #510dbe; 
}
