.footer_social {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer_social-item { 
    margin-right: 20px;
}

.footer_social-item:last-of-type {
    margin-right: 0;
}

.footer_social-link {
    position: relative;
    display: block;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    transition: all 0.35s ease;
}

.footer_social-link:hover {
    bottom: 3px;
    background: linear-gradient(98.54deg, rgba(28, 196, 249, 0.4) 0.72%, rgba(254, 105, 254, 0.4) 90.69%);
    transition: all 0.35s ease;
}