.footer {
   padding: 80px 0  30px;
    color:rgba(255, 255, 255, 0.6);
    background-color: #18181B;
    background: no-repeat  0% 100% / auto url(../../src/images/footer-bg.png);
}

.footer-top {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
}

.footer_logo-wrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 20px;
}

.footer_social-wrapper {
    margin: 0 auto 30px 40px;
}

.copyrights-wrapper {
    border-top-width: 3px;
    border-top: solid;
    border-image: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%) 1;
}

.copyrights {
    padding-top: 30px;
    text-align: center;
}