@import "../../../styles/variables";

.terms {
    &__title-wrapper {
        width: 100%;
        max-width: 635px;
        align-items: center;
        margin: 0 auto;
    }

    &__content {
        display: flex;
        flex-direction: column;
        max-width: 790px;
        margin: 30px auto 0;
    }

    &__title{
        font-size: 20px;
        margin-bottom: 20px;
    }

    &__description {
        margin-bottom: 40px;
    }

    &__list{
        list-style-type: disc;
        padding-left: 25px;
    }

    &__description-text,
    &__list-item {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 1.7;
    }
}