@import "../../../styles/variables";

.about {
    &__content-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        @media (max-width: $media-md) {
            flex-direction: column;
        }
    }

    &__content {
        padding-left: 50px;
        width: 60%;
        max-width: 570px;

        @media (max-width: $media-md) {
            padding-left: 0;
            width: 100%;
            max-width: 100%;
        }
    }

    .checpoints {
        &__list { 
            padding-left: 25px;
            margin-bottom: 40px;
            list-style-image: url('../../../images/check_mark.png');
        }

        &__list-item {
            margin-bottom: 15px;
            font-family: $font-main;
            font-size: 16px;
            line-height: 1.7;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

    }
}