@import "../../../styles/variables";

.our-difference {

    &__content-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__content {
        width: 50%;
        @media (max-width: $media-md) {
            width: 100%;
        }
    }

    &__banner {
        width: 50%;
        @media (max-width: $media-md) {
            order: -1;
        }
    }
}