@import "../../../styles/variables.scss";

.home-page {
    background: url('../../../images/main_bg.png') no-repeat 100% 0;
    background-size: auto;

    .section {
        margin-bottom: 40px;
        padding: 40px 0 80px;

        &__description {
            margin-bottom: 20px;
            font-size: 16px;
            line-height: 1.75;
            color: $text_color;
            font-family: $font-main;
            font-weight: 300;
        }
    }
}